.checkbox__container {
  @include flex(center, center);
  gap: 12px;
}

.checkbox__checkmark_type_default {
  display: none;
  &:checked + .checkbox__checkmark_type_custom {
    background: $color-brand url('src/assets/checkmark-icon.svg') no-repeat center/10px;
  }
}
.checkbox__checkmark_type_custom {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid $color-border;
  border-radius: 3px;
  &:hover {
    border: 1px solid $color-brand;
  }
}
