.input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
}

.input__container {
  display: flex;
  align-items: center;
  border: 1px solid $color-border;
  &_type_searchIcon {
    &::before {
      content: '';
      width: 24px;
      height: 24px;
      margin-right: 8px;
      background: url('/src/assets/search_icon.svg');
      @media (max-width: 840px) {
        display: none;
      }
    }
  }
  &:focus-within {
    border: 1px solid $color-brand;
  }
}
.input__clear-icon {
  display: none;
  cursor: pointer;
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}
