.Text__Bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
}
.Text__Medium {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.Text__Small {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
.Btn__Text {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

.Text__Color_Type_Grey {
  color: $color-font-second;
}
