@mixin flex($jc: center, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
@mixin flex-col($jc: center, $ai: center) {
  display: flex;
  flex-direction: column;
  justify-content: $jc;
  align-items: $ai;
}

.container {
  max-width: 1720px;
  margin: 0 auto;
  @media (max-width: 840px) {
    padding: 0 18px;
  }
}
.flex__type_row-beetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex__type_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
