$сolor-font-main: #333333;
$color-font-second: #aaaaaa;
$color-brand: #7397f5;
$color-border: #d5d5d5;
$scroll-bar: #f2f2f2;
$color-white: #ffffff;

$lg_breakpoint:1440px;
$md_breakpoint:840px;

$base_font-family: 'PT Sans';
