.main {
  display: flex;
  gap: 36px;
}
.aside {
  flex: 1 1 16%;
  border: 1px solid red;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.card-list__wrapper {
  border: 1px solid green;
  flex: 1 1 auto;
}

.category {
  display: flex;
  justify-content: space-between;
}
.subcategory {
  display: none;
  padding-left: 20px;
}
.subcategory_type_active {
  display: block;
}

.prise-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  > span {
    width: 10px;
    height: 1px;
    background-color: $color-border;
  }
}
.prise-block__input {
  input {
    padding: 10px 8px;
  }
}
.input__placeholder {
  color: $color-font-second;
}
.brends-block__list {
  max-height: 100px;
  overflow-y: scroll;
  li {
    margin-bottom: 40px;
  }
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: $scroll-bar;
  }
}
.brends-block__input {
  width: 100%;
  margin-bottom: 18px;
  &::before {
    content: '';
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background: url('/src/assets/search_icon.svg');
    @media (max-width: 840px) {
      display: none;
    }
  }
}
.brends-block__title {
  display: flex;
  justify-content: space-between;
}
.brends-block__clear-btn {
  color: $color-font-second;
}

.counter {
  color: $color-font-second;
}
