.brends-block__input {
  width: 100%;
  margin-bottom: 15px;
  padding: 6px 8px;
}
.brends-block__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}
.brends-block__clear-btn {
  color: $color-font-second;
  text-decoration: underline;
  &:hover {
    color: $сolor-font-main;
  }
}
