.category__name {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
}
.category__list {
  li {
    margin-bottom: 14px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.subcategory__list {
  display: none;
  padding-left: 32px;
  margin-top: 14px;
}
.category_type_active {
  position: relative;
  padding-left: 8px;
}
.subcategory_type_active {
  display: block;
}
