.prise-block {
  gap: 16px;
  > span {
    width: 17px;
    height: 1px;
    background-color: $color-border;
  }
}
.prise-block__input {
  padding: 8px;
}
.prise-block__custom-placeholder {
  color: $color-font-second;
  margin-right: 6px;
}
.prise__title {
  margin-bottom: 21px;
}
