.cards {
  flex: 1 1 auto;
}
.cards__title {
  display: none;
  @media (max-width: 840px) {
    padding-left: 8px;
    margin-bottom: 12px;
    display: block;
    color: rgb(51, 51, 51);
    font-family: PT Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
  }
}
.cards__list {
  @include flex(flex-start);
  gap: 24px;
  flex-wrap: wrap;
  @media (max-width: 840px) {
    gap: 14px;
  }
}
.card {
  flex: 0 1 23%;
  @include flex-col(normal, normal);
  @media (max-width: 840px) {
    flex: 0 1 42%;
  }
}
.card__img-block {
  position: relative;
  z-index: 1;
  overflow: hidden;
  @include flex-col(space-between, normal);
  //   padding: 12px;
  height: 200px;
  margin-bottom: 16px;
  background-color: #f8f8fa;
  @media (max-width: 840px) {
    margin-bottom: 13px;
  }
}

.card__badge {
  @include flex;
  margin: 10px 0 0px 11px;
  padding: 8px;
  gap: 6px;
  align-self: flex-start;
  background-color: $color-white;
  border: 1px solid $scroll-bar;
  border-radius: 4px;
}
.card__badge-title {
}
.card__badge-icon {
}
.card__img-products {
  @include flex;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #f8f8fa;
}
.card__img-products_type_disabled {
  opacity: 0.5;
}
.card__sale {
  padding: 4px 10px;
  align-self: flex-start;
  color: $color-white;
  border-radius: 4px;
  background: $color-brand;
  margin: 0 0 12px 12px;
}
.card__info-block {
  @include flex-col(start, start);
  gap: 11px;
  .btn_type_disabled {
    width: 100%;
    margin-top: 19px;
  }
  @media (max-width: 840px) {
    gap: 9px;
  }
}
.card__name-brand {
  color: $color-font-second;
}
.card__name-product {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  @media (max-width: 840px) {
    -webkit-line-clamp: 3;
  }
}
.card__prices {
}
.card__price_type_sale-price {
}
.card__price_type_base-price {
  color: $color-font-second;
  text-decoration: line-through;
}

.card__btn {
  align-self: flex-start;
  padding: 11px 15px;
}
