.cards {
  flex: 1 1 auto;
}
.cards__list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.card {
  flex: 1 1 23%;
  display: flex;
  flex-direction: column;
}
.card__img-block {
  position: relative;
  z-index: 1;
  overflow: hidden;
  //   padding: 12px;
  height: 200px;
  margin-bottom: 16px;
  background-color: #f8f8fa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__badge {
  margin: 10px 0 0px 11px;
  padding: 8px;
  gap: 6px;
  display: flex;
  align-self: flex-start;
  background-color: $color-white;
  border: 1px solid $scroll-bar;
  border-radius: 4px;
}
.card__badge-title {
}
.card__badge-icon {
}
.card__img-products {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #f8f8fa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__img-products_type_disabled {
  opacity: 0.5;
}
.card__sale {
  padding: 4px 10px;
  gap: 13px;
  display: flex;
  align-self: flex-start;
  color: $color-white;
  border-radius: 4px;
  background: $color-brand;
  margin: 0 0 12px 12px;
}
.card__info-block {
  display: flex;
  flex-direction: column;
  gap: 11px;
  .btn_type_disabled {
    width: 100%;
    margin-top: 19px;
  }
}
.card__name-brand {
  color: $color-font-second;
}
.card__name-product {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card__prices {
}
.card__price_type_sale-price {
}
.card__price_type_base-price {
  color: $color-font-second;
  text-decoration: line-through;
}

.card__btn {
  align-self: flex-start;
  padding: 11px 15px;
}
